.country-wrapper {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    align-items: start; /* ensures items align from the top */
}

.country-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.country-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #111827;
}

.country-details {
    color: #374151;
    margin-top: 0.5rem;
    /*  */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label {
    font-weight: 600;
    /*  */
    margin-bottom: 4px;
    display: block;
}

.country-details ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    line-height: 1.6;
    color: #4b5563;
}

.country-details li {
    margin-bottom: 4px;
}

.country-flag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-img {
    width: 14rem;
    height: auto;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .country-wrapper {
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: 2fr 1fr; /* left side wider, right side smaller */
        gap: 48px; /* add more breathing space between details and flag */
    }
}